h1{
  font-family: Palatino, 'palatino linotype', serif;
  color: #B8860B;
  background-image: url("https://www.instagram.com/p/B2sCLeEn_o_/?utm_source=ig_web_copy_link")
}
body{
  text-align: center;
}
